########################################
# Godot (C# / Mono)
########################################
.godot/
.mono/
.mono/
godot-csharp.sln
*.godot.csproj
*.godot.csproj.user

########################################
# .NET / MSBuild
########################################
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.mdb

########################################
# DocFX
########################################
_site/
api/
obj/docfx/
*.log

########################################
# IDE
########################################
.vs/
.idea/
.vscode/

########################################
# OS
########################################
Thumbs.db
.DS_Store
